*.class

# Package Files #
*.jar
*.war
*.ear
/Project_02/Vector3dApp/nbproject/private/
/Project_02/Vector3dApp/build/
/Project_02/Vector3dApp/dist/
/TriangleApp/build/
/TriangleApp/dist/
/ComplexAppF13/nbproject/private/
/javaapp13/nbproject/private/
/javaapp13/build/
/AuxiliaryMathApp/nbproject/private/
/GCD/nbproject/private/
/GCD/build/
/AuxiliaryMathApplication/nbproject/private/
/AuxiliaryMathApp/build/
/AuxiliaryMathApp/dist/